<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:site_name" content="Jeffryafandi">
  <meta property='og:title' content="404 Error">
  <meta property='og:description' content="404 - Page Not Found?!">
  <!--title-->
  <title>404 Error - Page Not Found</title>
  <!--css and script-->
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/font.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
  <script src="/public/js/bootstrap.js"></script>
</head>

<body class="dark">
  <div class="header">
    <h1>404 Error - Page Not Found</h1>
    <span id="author" class="author"></span>
  </div>
  <div class="body"><p>
    <li><a href="/">Back to Home Page</a></li>
    <br><b>Jika page "post" hilang</b>, coba "/post/2021/{Bulan}/{id post}"<br>Contoh: <a style="text-decoration: none" href="post/2021/2/tugas-bahasa-inggris">https://website.xx/post/2021/02/tugas-bahasa-inggris</a></b>
    <hr>
    Contact:
    <li><a href="https://wa.me/6289515949920">Whatsapp</a></li>
    <li><a href="https://t.me/jeffryafandi">Telegram</a></li>
    <li><a href="https://twitter.com/jeffryafandi_id">Twitter</a></li>
    <li><a href="mailto:jeffryafandi1@gmail.com">Email</a></li>
    Discord: jeffsay#5335
    </p>
  </div>
</body>
<script>var d = new Date();
var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
document.getElementById("author").innerHTML = "System &bull; " + months[d.getMonth()] + " "+ d.getDate() + ", " + d.getFullYear()</script>
</html>