<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="MobileOptimized" content="176" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="jeffryafandi, tugasjeffryafandi, jeffryafanditugas, jeffryafandiweb">
  <meta property="og:site_name" content="Jeffryafandi">
  <meta property='og:title' content="Email">
  <meta property='og:description' content="Kumpulan Gmail">
  <!--title-->
  <title>Email </title>
  <!--css and script-->
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/font.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
  <script src="/public/js/bootstrap.js"></script>
</head>

<body class="dark">
  <div class="header">
    <h1>Email Account List</h1>
    <span class="author">Admin &bull; Maret 20, 2021</span>
  </div>
  <div class="body">
    <p>List 1
      <table class="table table-bordered border-dark table-primary table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Valid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>aok.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>apb.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">16</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">17</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">18</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">19</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">20</th>
            <td>aaj.ytpremi@gmail.com</td>
            <td>aosk541b#56</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </p>
  </div>
</body>

</html>