<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="MobileOptimized" content="176" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="jeffryafandi, tugasjeffryafandi, jeffryafanditugas, jeffryafandiweb">
  <meta property="og:site_name" content="jeffryafandi.tk">
  <meta property='og:title' content="Jeffryafandi.tk">
  <meta property='og:description' content="Akbar Jeffry Afandi tugas & notes website">
  <!--title-->
  <title>Tugas - jeffryafandi</title>
  <!--css and script-->
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/font.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
  <script src="/public/js/bootstrap.js"></script>
</head>

<body class="dark">
  <div class="header">
    <h1>Web kumpulan Tugas & Notes</h1>
    <span class="author">Akbar Jeffry Afandi &bull; Feb 21, 2021</span>
  </div>
  <div class="body">
    <p><b>Selamat Datang</b> di website saya, web ini dibuat untuk storage/penyimpanan tugas & catatan. Semua page disini rata" style nya sama seperti halaman ini, dark & mirip <a href="https://telegra.ph" style="text-decoration: none">Telegra.ph</a>
      <hr>
      Contact:
      <li><a href="https://wa.me/6289515949920">Whatsapp</a></li>
      <li><a href="https://t.me/jeffryafandi">Telegram</a></li>
      <li><a href="https://twitter.com/jeffryafandi_id">Twitter</a></li>
      <li><a href="mailto:jeffryafandi1@gmail.com">Email</a></li>
      Discord: jeffsay#5335</p>
  </div>
</body>

</html>