<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="MobileOptimized" content="176" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#000" />
  <meta name="keywords" content="jeffryafandi, Akbar Jeffry Afandi, akbar jeffry afandi, jeffry afandi">
  <meta property="og:site_name" content="fyy.my.id">
  <meta property='og:title' content="fyy!">
  <meta property='og:description' content="fyy.my.id | Web pribadi milik Akbar Jeffry Afandi.">
  <!--title-->
  <title>Tugas - jeffryafandi</title>
  <!--css and script-->
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/font.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
  <script src="/public/js/bootstrap.js"></script>
</head>

<body class="dark">
  <div class="header">
    <h1>Web kumpulan Tugas & Notes</h1>
    <span class="author">Akbar Jeffry Afandi &bull; Feb 21, 2021</span>
  </div>
  <div class="body">
    <p><b>Selamat Datang</b> di website saya, web ini dibuat untuk storage/penyimpanan tugas & catatan. Sebagian page disini bersifat rahasia & dilengkapi dengan password
      <hr>
      Contact:
      <li><a href="https://wa.me/6289515949920">Whatsapp</a></li>
      <li><a href="https://t.me/jeffryafandi">Telegram</a></li>
      <li><a href="https://twitter.com/jeffryafandi_id">Twitter</a></li>
      <li><a href="mailto:jeffryafandi1@gmail.com">Email</a></li>
      <hr>
      <h3>Quotes:</h3>
      <figure>
        <blockquote class="blockquote">
          <p>"Life is not a game of luck. If you wanna win, work hard."</p>
        </blockquote>
        <figcaption class="blockquote-footer">Sora</figcaption>
      </figure>
      <figure>
        <blockquote class="blockquote">
          <p>"Aku Tidak Berhenti Mencintaimu, Tapi Aku Berhenti <b>Menunjukkannya</b>"</p>
        </blockquote>
        <figcaption class="blockquote-footer">Nemu Di Twitter :v</figcaption>
      </figure>
    </p>
  </div>
</body>

</html>