<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="MobileOptimized" content="176" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#000" />
  <meta property="og:site_name" content="fyy.my.id" />
  <meta property="og:title" content="Fyy!" />
  <meta property="og:description" content="Akbar Jeffry Afandi portofolio website." />
  <!--title-->
  <title>Tugas - jeffryafandi</title>
  <!--css and script-->
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/font.min.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" />
  <script src="/public/js/bootstrap.js"></script>
</head>

<body class="dark">
  <div class="header">
    <h1>Web kumpulan Tugas & Notes</h1>
    <span class="author">Akbar Jeffry Afandi &bull; Feb 21, 2021</span>
  </div>
  <div class="body">
    <p><b>Selamat Datang</b> di website saya, web ini dibuat untuk storage/penyimpanan tugas & catatan.</p>
      <hr>
      <div><p>Whatsapp:<br>
      <li><a style="text-decoration: none" href="https://wa.me/6289515949920">6289515949920</a></li><br>Telegram:
      <li><a style="text-decoration: none" href="https://t.me/jeffryafandi">@jeffryafandi</a></li><br>Instagram:
      <li><a style="text-decoration: none" href="https://www.instagram.com/jeffryafandi._/">@jeffryafandi._</a></li><br>Email:
      <li><a style="text-decoration: none" href="mailto:hello@fyy.my.id">hello@fyy.my.id</a></li><br></p></div>
      <hr>
      <h3>~Kumpulan Quote~</h3>
      <figure>
        <blockquote class="blockquote">
          <p>"Life is not a game of luck. If you wanna win, work hard."</p>
        </blockquote>
        <figcaption class="blockquote-footer">Sora</figcaption>
      </figure>
      <figure>
        <blockquote class="blockquote">
          <p>"Nikmati hidupmu selagi kamu bisa dan jika tugasmu di dunia ini sudah selesai, kamu bisa bertemu siapapun yang kamu mau di akhirat"</p>
        </blockquote>
        <figcaption class="blockquote-footer">Hu Tao</figcaption>
      </figure>
      <figure>
        <blockquote class="blockquote">
          <p>"Aku Tidak Berhenti Mencintaimu, Tapi Aku Berhenti Menunjukkannya"</p>
        </blockquote>
        <figcaption class="blockquote-footer">kang asep</figcaption>
      </figure>
      <figure>
        <blockquote class="blockquote">
          <p>"in my dreams you"re mine, but in my life you are a dream"</p>
        </blockquote>
        <figcaption class="blockquote-footer"></figcaption>
      </figure>
      <figure>
        <blockquote class="blockquote">
          <p>"tetaplah begadang, karena pagi belum tentu setenang malam."</p>
        </blockquote>
        <figcaption class="blockquote-footer">penikmat dark mode</figcaption>
      </figure>
  </div>
</body>

</html>