<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Font Awesome icons (free version)-->
  <title data-react-helmet="true">Akbar Jeffry</title>
  <link data-react-helmet="true" rel="preconnect" href="https://www.google.com " />
  <link data-react-helmet="true" rel="dns-prefetch" href="https://www.google.com" />
  <link data-react-helmet="true" rel="preconnect" href="https://www.google-analytics.com" />
  <link data-react-helmet="true" rel="dns-prefetch" href="https://www.google-analytics.com" />
  <link data-react-helmet="true" rel="preconnect" href="https://www.dimasmiftah.me" />
  <link data-react-helmet="true" rel="canonical" href="https://www.dimasmiftah.me" />
  <meta data-react-helmet="true" name="keywords" content="Akbar Jeffry">
  <meta data-react-helmet="true" property="og:site_name" content="Akbar Jeffry" />
  <meta data-react-helmet="true" property="og:locale" content="id_ID" />
  <meta data-react-helmet="true" property="og:locale:alternate" content="ms_MY" />
  <meta data-react-helmet="true" property="og:title" content="Akbar Jeffry" />
  <meta data-react-helmet="true" property="og:description" content="Blog Catatan dan Tugas | Dikelola oleh Akbar Jeffry Afandi " />
  <meta data-react-helmet="true" property="og:type" content="website" />
  <meta data-react-helmet="true" property="og:url" content="https://fyy.my.id/" />
  <meta data-react-helmet="true" property="og:image" content="https://media.discordapp.net/attachments/776806054394593321/884727980910346250/PROPOSAL.png""/>
  <meta data-react-helmet=" true" property="og:image:secure_url" content="https://media.discordapp.net/attachments/776806054394593321/884727980910346250/PROPOSAL.png""/>
  <meta data-react-helmet=" true" property="og:image:width" content="600" />
  <meta data-react-helmet="true" property="og:image:height" content="200" />
  <meta data-react-helmet="true" property="og:image:alt" content="Akbar Jeffry Afandi" />
  <meta data-react-helmet="true" name="twitter:card" content="summary_large_image" />
  <meta data-react-helmet="true" name="twitter:image" content="https://media.discordapp.net/attachments/776806054394593321/884727980910346250/PROPOSAL.png" />
  <meta data-react-helmet="true" name="twitter:title" content="Akbar Jeffry" />
  <meta data-react-helmet="true" name="twitter:description" content="Blog Catatan dan Tugas | Dikelola oleh Akbar Jeffry Afandi" />
  <meta data-react-helmet="true" name="twitter:site" content="@jeffryafandi_" />
  <meta data-react-helmet="true" name="twitter:creator" content="@akbjeffry" />
  <meta data-react-helmet="true" name="description" content="Blog Catatan dan Tugas | Dikelola oleh Akbar Jeffry Afandi" />
  <meta data-react-helmet="true" content="index,follow" name="robots" />
  <meta data-react-helmet="true" name="copyright" />
  <meta data-react-helmet="true" content="Indonesian" name="language" />
  <meta data-react-helmet="true" content="index,follow" name="googlebot" />
  <meta data-react-helmet="true" content="follow, all" name="Googlebot-Image" />
  <!-- Referensi-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/public/css/styles.css" rel="stylesheet">
  <!-- Fonts CSS-->
  <link rel="stylesheet" href="/public/css/heading.css">
  <link rel="stylesheet" href="/public/css/body.css">
  <link rel=“canonical” href=“https://fyy.my.id/” />
</head>

<body id="page-top">
  <a href="//www.dmca.com/Protection/Status.aspx?ID=c6f2f763-dd98-41d9-b8fa-66d997aae864" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca_protected_sml_120l.png?ID=c6f2f763-dd98-41d9-b8fa-66d997aae864" alt="DMCA.com Protection Status" /></a>
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="/">Jeffryafandi</a>
      <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/library">Library</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#profile">Profile Saya</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Tentang Saya</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Kontak Personal</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="/public/assets/img/avataaars.svg" alt="">
      <!-- Masthead Heading-->
      <h1 class="masthead-heading mb-0">Akbar Jeffry Afandi</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="pre-wrap masthead-subheading font-weight-light mb-0">15tahun - Indonesia </p>
    </div>
  </header>
  <section class="page-section portfolio" id="profile">
    <div class="container">
      <!-- Portfolio Section Heading-->
      <div class="text-center">
        <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Profile Saya</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Portfolio Items-->
      <h4>Hobi:</h4>
      <li>Baca Light Novel</li>
      <li>Nonton Film & Anime</li>
      <li>Belajar coding</li>
    </div>
  </section>
  <!-- Portfolio Modal-->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
      <!-- About Section Heading-->
      <div class="text-center">
        <h2 class="page-section-heading d-inline-block text-white">Tentang Saya</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="pre-wrap lead">Siswa Teknik Otomasi Industri SMKN 1 Singosari. Developer di <a style="text-decoration: none;color: #fff" href="https://raznar.id/"><i>Raznar Hosting</i></a>. Magang customer support, hobi membaca, dan gemar membuat BOT system</p>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <!-- Footer Social Icons-->
        <div class="col-lg-4 mb-5 mb-lg-0" id="contact">
          <h4 class="text-uppercase mb-4">Kontak Personal</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/jeffryafandi._/"><i class="fab fa-fw fa-instagram"></i></a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://wa.me/6289515949920/"><i class="fab fa-fw fa-whatsapp"></i></a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://t.me/jeffryafandi/"><i class="fab fa-fw fa-telegram"></i></a>
          <a class="btn btn-outline-light btn-social mx-1" href="mailto:jeffryafandi1@gmail.com"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
            </svg></a>
        </div>
        <!-- Footer About Text-->
    </div>
  </footer>
  <!-- Copyright Section-->
  <section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Jeffryafandi 2021 </small></div>
  </section>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
  <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Core theme JS-->
  <script src="/public/js/scripts.js"></script>
</body>

</html>