<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="MobileOptimized" content="176" />
  <meta name="HandheldFriendly" content="True" />
  <meta content='#010202BF' name='theme-color' />
  <meta name="robots" content="index, follow" />
  <meta property="og:site_name" content="Akbar Jeffry" />
  <meta property="og:title" content="Library" />
  <meta property="og:description" content="Perpustakaan online. Berisi tugas, novel, catatan, dan artikel." />
  <!--title-->
  <title>Library</title>
  <!--css and script-->
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/font.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="/public/css/bkstyle.css" rel="stylesheet">  
  <script data-ad-client="ca-pub-7084350918980282" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <style>
  
/* Anime List - Winfoku */
.winfoku{overflow:hidden}
.winfoku .win-apb{font-size: 14px;display: block;position: relative;overflow: hidden}
.winfoku .win-apb a{text-decoration: none;line-height: 30px;width: 3.704%;color: #FFFFFF;background: #424242;transition: all 0.25s;text-align: center;float: left}
.winfoku .win-apb a:hover{text-decoration: none;background: #2977BE;color: #FFFFFF}
.winfoku .win-wrap{margin-top: 5px}
.winfoku .win-group{display: inline-block;width: 100%;margin-bottom: 10px}
.winfoku .win-head{font-weight: 700;border-bottom: 2px solid #2977BE;font-size: 15px;padding: 5px}
.winfoku .win-head a{color: grey}
.winfoku .win-item{float: left;width: 50%;}
.winfoku .win-title{display: list-item;margin-left: 20px}
.winfoku .win-title a{text-decoration: none;line-height: 24px;font-size: 14px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap}}
@media only screen and (max-width: 768px){.winfoku .win-item{width:50%}}
@media screen and (max-width:480px){.winfoku .win-item{width:100%}.winfoku .win-apb a{margin: 1px;width: 10.43%}}
@media screen and (max-width:320px){.winfoku .win-apb a{width: 10.24%}}
  </style>
</head>

<body class="dark">
  <div class="header">
<div class='winfoku'>
 <div class='win-apb'>
  <a href='#%23'>#</a>
  <a href='#A'>A</a>
  <a href='#B'>B</a>
  <a href='#C'>C</a>
  <a href='#D'>D</a>
  <a href='#E'>E</a>
  <a href='#F'>F</a>
  <a href='#G'>G</a>
  <a href='#H'>H</a>
  <a href='#I'>I</a>
  <a href='#J'>J</a>
  <a href='#K'>K</a>
  <a href='#L'>L</a>
  <a href='#M'>M</a>
  <a href='#N'>N</a>
  <a href='#O'>O</a>
  <a href='#P'>P</a>
  <a href='#Q'>Q</a>
  <a href='#R'>R</a>
  <a href='#S'>S</a>
  <a href='#T'>T</a>
  <a href='#U'>U</a>
  <a href='#V'>V</a>
  <a href='#W'>W</a>
  <a href='#X'>X</a>
  <a href='#Y'>Y</a>
  <a href='#Z'>Z</a>
 </div>
 <div class='win-wrap'>
  <div class='win-group'>
   <div class='win-head'><a name='#'>#</a></div>
   
   <!-- KODE UNTUK ANIME "#" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='A'>A</a></div>
   
   <!-- KODE UNTUK ANIME "A" DISINI -->
</div>
  <div class='win-group'>
   <div class='win-head'><a name='B'>B</a></div>
   
   <!-- KODE UNTUK ANIME "B" DISINI -->
         <% for (b of bs) { %>
                <div class='win-item'><div class='win-title'><a title='Because I Like You' class="link-info" href='https://fyy.my.id/library/<%= b %>'><%= upLet(b.replace(/-/gi,' '))%><span class="badge bg-primary">LN</span><span class="badge rounded-pill bg-success">On-Going</span></a></div></div>
         <% } %>
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='C'>C</a></div>
   
   <!-- KODE UNTUK ANIME "C" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='D'>D</a></div>
   
   <!-- KODE UNTUK ANIME "D" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='E'>E</a></div>
   
   <!-- KODE UNTUK ANIME "E" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='F'>F</a></div>
   
   <!-- KODE UNTUK ANIME "F" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='G'>G</a></div>
   
   <!-- KODE UNTUK ANIME "G" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='H'>H</a></div>
   
   <!-- KODE UNTUK ANIME "H" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='I'>I</a></div>
   
   <!-- KODE UNTUK ANIME "I" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='J'>J</a></div>
   
   <!-- KODE UNTUK ANIME "J" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='K'>K</a></div>
   
   <!-- KODE UNTUK ANIME "K" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='L'>L</a></div>
   
   <!-- KODE UNTUK ANIME "L" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='M'>M</a></div>
   
   <!-- KODE UNTUK ANIME "M" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='N'>N</a></div>
   
   <!-- KODE UNTUK ANIME "N" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='O'>O</a></div>
   
   <!-- KODE UNTUK ANIME "O" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='P'>P</a></div>
   
   <!-- KODE UNTUK ANIME "P" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='Q'>Q</a></div>
   
   <!-- KODE UNTUK ANIME "Q" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='R'>R</a></div>
   
   <!-- KODE UNTUK ANIME "R" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='S'>S</a></div>
   
   <!-- KODE UNTUK ANIME "S" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='T'>T</a></div>
   
   <!-- KODE UNTUK ANIME "T" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='U'>U</a></div>
   
   <!-- KODE UNTUK ANIME "U" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='V'>V</a></div>
   
   <!-- KODE UNTUK ANIME "V" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='W'>W</a></div>
   
   <!-- KODE UNTUK ANIME "W" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='X'>X</a></div>
   
   <!-- KODE UNTUK ANIME "X" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='Y'>Y</a></div>
   
   <!-- KODE UNTUK ANIME "Y" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='Z'>Z</a></div>
   
   <!-- KODE UNTUK ANIME "Z" DISINI -->
   
  </div>
 </div>
</div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <br><br>
  <hr>
  </div>
  <!--Javacript-->
    <script src="/public/js/bkscript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>