<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="MobileOptimized" content="176" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="jeffryafandi, tugasjeffryafandi, jeffryafanditugas, jeffryafandiweb">
  <meta property="og:site_name" content="Jeffryafandi">
  <meta property='og:title' content="Maintenance">
  <meta property='og:description' content="Page sedang dalam masa maintenance">
  <!--title-->
  <title>Maintenance</title>
  <!--css and script-->
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/font.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
  <script src="/public/js/bootstrap.js"></script>
</head>

<body class="dark">
  <div class="header">
    <h1>Page dalam mode maintenance</h1>
    <span id="author" class="author"></span>
  </div>
  <div class="body">
    <p>Maintenance: <br><a id="demo" href="/"></a></p>
  </div>
</body>

<script>var d = new Date();
var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
document.getElementById("author").innerHTML = "System &bull; " + months[d.getMonth()] + " "+ d.getDate() + ", " + d.getFullYear()</script>
<script>
// Set a valid end date
var countDownDate = new Date(require("../config.json").maintenance.end).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the countdown date
  var distance = countDownDate - now;

  // Calculate Remaining Time
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "hari " + hours + "jam "
  + minutes + "menit " + seconds + "detik ";

  // If the countdown is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "Maintenance selesai";
  }
}, 1000);
</script>
</html>