<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="MobileOptimized" content="176" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#000" />
  <meta name="keywords" content="jeffryafandi, Akbar Jeffry Afandi, akbar jeffry afandi, jeffry afandi">
  <meta property="og:site_name" content="Jeffryafandi">
  <meta property='og:title' content="Template">
  <meta property='og:description' content="Dark Theme">
  <!--title-->
  <title>Template</title>
  <!--css and script-->
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/font.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
  <script src="/public/js/bootstrap.js"></script>
</head>

<body class="dark">
  <div class="header">
    <h1>Hai :)</h1>
    <span class="author">Author &bull; Mei 15, 2021</span>
  </div>
  <div class="body">
  </div>
  <script>alert("Halo :v");alert("Agh :v");alert("hmm");alert("Gua pengen bilang:");alert("Sepurane sing akeh :)");alert("Hey..");alert("Lu maafin gua kan ?");alert("🗿");</script>
</body>

</html>