<!DOCTYPE html>
<html>

<head>
<meta charset='UTF-8'>
<meta property="og:title" content="Title Of Your Content Here" />
<meta property="og:description" content="Description of your content here" />
<meta property="og:url" content="https://raznar.id/" />
<meta property="og:image" content="https://media.discordapp.net/attachments/790947513678561300/814368056989450270/20210225_101811.jpg" />
<meta property="og:site_name" content="The Name Of Your Site" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Title Of Your twt Content Here" />
<meta name="twitter:description" content="Description of your twt content here" />
<meta name="twitter:site" content="@yourusername1" />
<meta name="twitter:image" content="https://media.discordapp.net/attachments/790947513678561300/814368056989450270/20210225_101811.jpg" />
<meta name="twitter:creator" content="@yourusername2" />
</head>

<body>
Hello World!
</body>

</html>