<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'>
  <meta property="og:description" content="
> **[App Hosting](https://raznar.id/app-hosting)**
> Harga mulai dari Rp10.000/128Mb!
> App: Python, NodeJS, Go, Rust" />
  <meta property="og:url" content="https://raznar.id/" />
  <meta property="og:image" content="https://media.discordapp.net/attachments/776806054394593321/815101537775779860/20210225_091029.jpg" />
  <meta property="og:site_name" content="Raznar Hosting - App Hosting" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta content='#1a73e8' name='theme-color' />
  <meta http-equiv="refresh" content="3;url=https://discord.gg/JnEBAvjs7g" />
</head>

<body>
  <h4>Redirecting in 3 seconds...</h4>
</body>

</html>