<!DOCTYPE html>
<html>

<head>
  <%- include("../../layout/header.ejs"); %>
    <meta name="description" content="Tugas Bahasa Indonesia Akbar jeffry afandi halaman 88 - 89 ">
  <meta name="title" content="Tugas Bahasa Indonesia">
  <meta name="theme-color" content="#8A974B8F" />
  <meta property="og:url" content="https://jeffryafandi.tk/tugas/b-indo-88-89/">
    <title>Tugas B Indo</title>
</head>

<body style="background: #8A974B8F">
  <h3 style="text-align: center;">Tugas Bahasa Indonesia</h3>
  <h4 style="padding-left: 18px">Nama: Akbar Jeffry Afandi<br>Kelas: 9C</h4>
<h5>Tugas Hal.88</h5>
<div>
1. Buku novel<br>
2. Shienny M.S<br>
3. Seseorang yang membaca karya tersebut<br>
4. Menyertakan identitas karya, kelebihan dan kekurangan dan sinopsis dari karya<br>
5. Menjelaskan ringkasan cerita, kelebihan serta kekurangan karya tersebut dengan bahasa yang sopan<br>
</div>
<h5>Tugas Hal.89</h5>
<div style="padding-bottom: 20px">
<b>1.</b> Novel ini menggambarkan kehidupan di pesantren begitu nyata,berisi tentang motivasi,atas dasar tekad,perjuangan keluarga & persahabatan impian sebesar apapun yg diraih.namun,terdapat kekurangan dari buku ini, yaitu klimaks ceritanya yg tak begitu menonjol & ada kekurangan penjelasan mengenai kehidupan dari beberapa tokoh di akhir cerita.<br><br>
<b>2.</b> Sinetron indonesia "dunia terbalik" sebenarnya idenya menarik berkaitan denga kondisi kehidupan sehari hari,namun sayangnya ketika eksekusinya alur cerita menjadi tak jelas & tokoh tokoh lama tak jelas,alur ceritanya pun sangat lambar & rumit<br><br>
<b>3.</b> Drama korea " the world of married" sangat menyita perhatian publik.kelebihan drama ini,yaitu perpindahan dari konflik lainnya itu berlangsung sangat tegas dengan waktu yg pass,ornamen yg menghiasi sebuah serial dalam drakor itu keren soundtrack nya digarap seriu,editing nya sangat bagus,pamerannya melakukan akting dengan totalitas yg mumpuni.kekurangan dalam drama ini,yaitu ada perubahan yg minor.<br><br>
<b>4.</b> Lukisan berpikir doa karya dedy sufriadi,teks nya memang dikemas secara acak. Walapun begitu,karyanya sangat unik dan banyak orang menyukainya dedy memenuhi kanvas dengan teks yg ia goreskan menggunakan oik bar. Efek hapusan oil bar dalam lukisan menampakkan tulisan yg pupus.coretan acak menyajikan bentuk visual. Unsur kesatuan dalam lukisannya memberi kesan spontanitas dan kebesan bagi para penikmat lukisannya.<br><br>
<b>5.</b> Budaya bersepeda harus dilestarikan ditengah arus kendaraan modern saat ini. Penggunaan sepeda lebih baik karena dapat mengurangi dampak polusi udara dan pergerakan sendi yg terus dilakukan berdampak pada kesehatan.<br>
</div>
<footer style="text-align: center">©2020 jeffryafandi</footer>
</body>

</html>