  <head>
    <%- include("../../layout/header.ejs"); %>
    <meta name="description" content="Tugas Bahasa Inggris (Yang belum dikumpulkan)">
    <meta name="title" content="Tugas Bahasa Inggris">
    <meta name="theme-color" content="#000" />
    <title>Tugas Bahasa Inggris</title>
  </head>
  <h3>Nama: Akbar Jeffry Afandi<br>Kelas/No: 9C/02<br>Tugas Bahasa Inggris</h3>
  <div style="margin: 10px">

<marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Tugas 3 (Ukbm hal 13-14)</marquee>

<img src="https://cdn.discordapp.com/attachments/678482253268910142/767328790538879006/IMG_20201018_164745_HDR-picsay.jpg" style="width: 100%" height="auto" class="rounded float-left" alt="...">
<img src="https://cdn.discordapp.com/attachments/678482253268910142/767328789385969684/IMG_20201018_164758_HDR-picsay.jpg" style="width: 100%" height="auto" class="rounded float-left" alt="...">
<marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Tugas 5 (Ukbm hal 23)</marquee>
<img src="https://cdn.discordapp.com/attachments/678482253268910142/767328791403954196/IMG_20201018_164852_HDR.jpg" style="width: 100%" height="auto" class="rounded float-left" alt="...">
<marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Tugas 7 (Ukbm hal 38)</marquee>
<img src="https://cdn.discordapp.com/attachments/678482253268910142/767328790871015464/IMG_20201018_165036_HDR.jpg" style="width: 100%" height="auto" class="rounded float-left" alt="...">
<marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Tugas 9 (Ukbm hal 42 - 46)</marquee>
1. A|2. D |3. C |4. A|5. B|6. A|7. C|8. B|9. C|10. C<br>11. A|12. D|13. C|14. A|15. C|16. A|17. D|18. B|19. A|20. D
</div>
   