  <head>
    <%- include("../../layout/header.ejs"); %>
    <meta name="description" content="Tugas Fiqih lks hal 27-30">
    <meta name="title" content="Tugas Fiqih Akbar Jeffry9C">
    <meta name="theme-color" content="#000" />
    <title>Tugas Fiqih Akbar jeffry 9C</title>
  </head>
<div style="margin: 20px">
1. A <br>
2. C <br>
3. C <br>
4. C <br>
5. C <br>
6. B <br>
7. C <br>
8. C <br>
9. C <br>
10. C <br>
11. C <br>
12. A <br>
13. D <br>
14. D <br>
15. C <br>
16. D <br>
17. C <br>
18. B <br>
19. A <br>
20. B</div>