  <head>
    <%- include("../../layout/header.ejs"); %>
    <meta name="description" content="Kumpulan tugas bahasa indonesia Akbar Jeffry Afandi 9C/02">
    <meta name="title" content="Tugas Bahasa Indonesia">
    <meta name="theme-color" content="#000" />
    <title>Tugas Bahasa Indonesia Akbar jeffry 9C</title>
  </head>
<body style="margin: 13px">
<div id="1">
    <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Tugas Bahasa Indonesia (Lks Hal: 32)</marquee>
  1. a. Kalimat Pasif<br>b. Kalimat Aktif<br>c. Kalimat Pasif<br>d. Kalimat Pasif<br>e. Kalimat Pasif<br>f. Kalimat Pasif<br>g. Kalimat Pasif<br>h. Kalimat Aktif<br><br>2. Tujuan<br>3. Kajian Teori<br>4. Karbohidrat, Tumbuh Tumbuhan, karbondioksida, udara, air, tanah, oksigen<br>5. Dengan, Sedangkan</div>
<div id="2">
  <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Ciri Kebahasaan</marquee>

1.a.Sinonim:Ahmad bertemu dengan Ibunya pasar.(bertemu=berjumpa)<br>
   b.Antonim:Lantai itu sangst bersih & wangi.(bersih×kotor)
<br><br>2.Numeralia:<br>
   a.Kata bilangan penuh:Aku punya dua rautan pensil(dua)<br>
   b.Kata bilangan pecahan:Aku melihat dio makan setengah dari kuemu! .(seperempat)<br>
   c.Kata bilangan gugus:Ibu membeli sendok sebanyak 1 Lusin.(1 Lusin)<br><br>
3.Kalimat perintah:Tolong tutup jendela itu, disini agak dingin!(Tolong)<br>
4.Kalimat simpleks:Saya makan bakso.(S,P,O)<br>
5.Kata kerja aktif:Ibu menyiapkan makanan di dapur.(menyiapkan)<br>
 Kata kerja pasif: Pamanku bertani setiap pagi (bertani)<br>
6.a Kata benda konkret:buku<br>
   b Kata benda abstrak:ide<br>
7.Kata tugas: aku berjalan dari timur ke barat (dari)<br>
8.Konjungsi: Ayah dan ibu pergi kepasar.(dan)
   </div>
<div id="3">
  <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Lks Halaman 63</marquee>
  2.
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama Tokoh</th>
        <th scope="col">Bukti Teks</th>
        <th scope="col">Simpulan Karakter</th>
      </tr>
    </thead>
    <tr>
      <th scope="row">a</th>
      <td>Acenk</td>
      <td>Meskipun demikian Acenk selalu tabah dan bersungguh sungguh dalam belajar </td>
      <td>Tabah dan bersungguh-sungguh</td>
    </tr>
    <th scope="row">b</th>
    <td>Udin dan Halam</td>
    <td>Disana ada teman seperjuangannya, Udin dan Halam</td>
    <td>Tekad yang kuat</td>
    </tr>
      </tr>
      <th scope="row">c</th>
      <td>Kakek</td>
      <td>“Alhamdulillah, ya sudah sekarang kamu shalat Maghrib lalu belajar”</td>
      <td>Taat beragama dan penyayang</td>
      </tr>
        </tr>
        <th scope="row">d</th>
        <td>Nenek</td>
        <td>“Cenk, cenk , ya ampun ini anak. Susah banget dibangunin. Donat sudah siap, ayo bangun abis itu jualan”</td>
        <td>Penyayang</td>
        </tr>
  </table>
  3. 
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Bukti Teks</th>
        <th scope="col">Kata Ganti</th>
        <th scope="col">Sudut Pandang</th>
      </tr>
    </thead>
    <tr>
      <td>Dia adalah anak dari keluarga golongan bawah yang hanya mengandalkan hasil dari penjualan donat di taman Segitiga</td>
      <td>Tunggal</td>
      <td>Tokoh serba tau</td>
    </tr>
  </table>
  4.
  <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Permasalahan</th>
          <th scope="col">Bukti Teks</th>
          <th scope="col">Alur</th>
        </tr>
      </thead>
      <tr>
        <td>Acenk si super donat yang menolong temannya dari preman</td>
        <td>Acenk segera menghampiri kedua preman itu dan berkata “Hey, beraninya sama tukang dagang. Sini lawan aku sang superhero”. Kedua preman itu pun malu karena dihina donat. Tak kuasa menahan malu kedua preman tersebut lari dari taman Segitiga. Sejak saat itu Acenk disebut dengan Acenk si super donat</td>
        <td>Maju</td>
      </tr>
      </table>
      5.<br>a. Latar tempat: Taman segitiga | Bukti teks: Tak kuasa menahan malu preman itu lari dari Taman Segitiga<br>
b. Latar Waktu: Senja(Sore Hari) | Bukti teks: Tak terasa sudah hampim malam, saatnya Acenk dan teman temannya pulang ke istana kecilnya<br>c.  Latar waktu: Malam, pukul 09.30 | Bukti teks: Sangat tidak terasa wak tu telah menunjukkan pukul 09.30 </div>
<div id="4">
  <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM hal 53</marquee>
  1. Impian seorang anak yang ingin mejadi guru terhalang oleh orang tuanya<br>
  2. A).Judul: Guru<br>
  B).Tema: Impian seorang anak menjadi guru<br>
  C).Alur: Maju<br>
  D).Latar:<br>
  Latar tempat: Rumah kos Taksu
  (Bukan hanya 1 bulan, tetapi 2 bulan kemudian, kami berdua dating lagi mengunjungi Taksu di kosnya)<br>
  Latar waktu: 3 bulan
  (3 bulan kami tidak mengunjungi Taksu)<br>
  Latar suasana :terkejut
  (kalau kamu tetap saja ingin menjadi guru, aku bunuh kau sekarang juga!!)<br>
  E). Tokoh: Bapak, Ibu, Saya, Istri saya, Taksu<br>
  F). Penokohan;<br>
  Bapak: Galak<br>
  Ibu: Sabar<br>
  Taksu: Teguh pendirian<br>
  Istri saya: Cerewet, suka menyalahkan<br>
  Saya: Mudah marah<br>
  G).Sudut pandang: Orang pertama<br>
  H).Gaya bahasa: Penggunaan Majas Pertentangan<br>
  I). Amanat: Jangan pandang sebuah profesi dari hal materi saja, profesi kecil pun mulia dan berguna bagi hidupmu, jangan anggap materi itu hal tingi dalam hidup, karena kebahagiaan dapat mucul dari hal hal yang sederhana
</div>
<div id="5">
  <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">AYO BERLATIH Hal 53</marquee>
  <table class="table table-dark table-hover">
   <thead>
     <tr>
       <th scope="col">Indikator</th>
       <th scope="col">Kutipan teks sepenggal kisah</th>
       <th scope="col">Kutipan Teks Guru</th>
     </tr>
   </thead>
   <tr>
     <td>ISI CERITA</td>
     <td>Menceritakan seorang gadis yang terlahir dengan kondisi tidak sempurna. Karena ketrerbatasannya itu, ia tidak dianngap anak oleh orang tua nya.sejak kecil, ia diserakan dan diurus oleh pembantunya yang ada di rumahnya. Setelah besar, dia membuktikan bahwa dia bias sukses dan membuat orang tuanya membuka hati untuknya. Gadis itu tersenyum bahagia dan sangat bersyukur karena allah swt mengabulkan doa nya dan orang tua nya mendapatkan hidayah.</td>
     <td>Menceritakan tentang seorang anak yang ingin menjadi guru namun tidak disetujui oleh orang tua nya. Sang anak tetap berpegang teguh pada cita cita nya hingga akirnya bias membuat kedua orang tua nya menerima dan bangga padanya. Anak itu menjadi penusaha besar. Ia seorang guru bagi 10.000 orang pegawainya. Guru bagi anak anak muda lain yang menjadi adik generasinya. Bahkan guru bagi bangsa dan Negara, karena jasa jasanya menularkan etos kerja.</td>
   </tr>
   <tr>
     <td>ELEMEN BIOGRAFI</td>
     <td>Dia yang bertubuh kurus kering dengan 1 kaki sejak lahir selalu memperoleh hinaan dan semburan emosi dari kedua orang tua kandungannya. Dia seoreang gadis lugu yang tumb kembang bersama pengasuhnya dalam keluarga kaya raya dan terpadang. Keluarganya selalu merasakan kenikmatan dan kemewahan, tapi tidak berlaku pada dia.</td>
     <td>Sekarang saya sudah tua. Waktu telah memproses segala nya begitu rupa, sehingga semuanya di luar dugaan. Sekarang Taksu sudah menngantikan hidup sayamemikul beben keluarga. Ia menjadi salah seorang pengusaha besar yang mengimporbarang barang kerajinan serta ikan segar ke berbagai wilayah mancanegara.</td>
   </tr>
    <tr>
      <td>ELEMEN SOSIAL</td>
      <td>Memiliki anak merupakan anugerah, meskipun memiliki keterbatasan sejak dalam kandungan . oleh karena itu ,meskipun cacat kita harus mensyukurinya dan menyayanginya.</td>
      <td>Cerpen ini menyindir tentang beratnya menjadi guru. Selain itu, cerpen ini menyindir tentang Negara yang segaja memuji muji guru setinggi langit, tetapi tidak memberikan gaji yang setimpal.</td>
    </tr>
     <tr>
       <td>ELEMEN NILAI</td>
       <td>Kita harus tetap bersyukur dengan rezeki apa yang kita terima meskipun itu baik maupun buruk.</td>
       <td>Jangan memandang sesuatu dari hal buruknya saja. Semua hal hal buruk pasti memmiliki sesuatu yang baik dan, materi bukanlah hal tinggi dalam kehidupan. Hal hal yang sederhanapun dapat membuat kita bahagia.</td>
     </tr>
   </table>
  </div>
</body>