  <head>
    <%- include("../../layout/header.ejs") %>
    <meta name="description" content="Tugas Fiqih Timeline">
    <meta name="title" content="Tugas Fiqih Akbar Jeffry9C">
    <meta name="theme-color" content="#0FA4E2BF" />
    <title>Tugas Fiqih Akbar jeffry 9C</title>
  </head>
  <body style="margin: 10px;background: #0FA4E2BF">
   <div> Soal:<br>1. Jelaskan pengertian riba?<br>
2. Sebutkan macam-macam riba?<br>
3. Jelaskan macam-macam riba?<br>
4. Buatlah salah satu contoh dari macam-macam riba?<br>
5. Jelaskan mengapa riba diharamkan dalam ajaran hokum Islam?
    </div>
    <div>
      Jawaban:<br>1. Riba adalah penetapan bunga atau melebihkan jumlah pinjaman saat pengembalian berdasarkan persentase tertentu dari jumlah pinjaman pokok yang dibebankan kepada peminjam.<br>2. Riba Fadhl, Riba Qardh, Riba Jahiliyah, Riba Yad, Riba Nasi’ah<br>3.<br>Riba Fadhl:<br>
~ Pertukaran atau jual beli barang ribawi dengan kuantitas, kualitas, atau kadar takaran yang berbeda.<br>
Riba Qardh:<br>
~ Adanya persyaratan kelebihan pengembalian pinjaman yang dilakukan di awal akad perjanjian hutang-piutang oleh pemberi pinjaman ​terhadap yang berhutang tanpa tahu untuk apa kelebihan tersebut digunakan.<br>4. Contoh Riba Fadhl:
~ Satu kilo beras ditukar dengan beras yang takarannya kurang dari satu kilo.<br>5. Karena Allah dan Rasul-Nya melarang atau mengharamkannya. Dalam surah Al-Baqarah ayat 275, yang artinya "Allah menghalalkan jual beli dan mengharamkan riba".
    </div>
    </body>