<!DOCTYPE html>
<html>

<head>
<%- include("../../layout/header.ejs"); %>
  <meta name="description" content="Tugas Bahasa Indonesia Lks Halaman 98">
  <meta name="title" content="BI 23-9 (Akbar Jeffry Afandi)">
  <meta name="theme-color" content="#0FA4E2BF" />
    <title>Tugas B Indonesia 23-9</title>
</head>

<body style="background: #0FA4E2BF">
<h2 style="text-align: center">Tugas Bahasa Indonesia</h2>
<h4>Nama: Akbar Jeffry Afandi<br>Kelas: 9C<br>LKS Hal: 98</h4>
<div><p>
  <b>1.</b> ~ Konteks (berisi identitas karya yang ditanggapi dan identitas pengarang dan
  karyanya)<br>~ Deskripsi karya(menceritakan atau penggambaran teks yang akan
  dibahas)<br>~ Evaluasi(penilaian karya,penilaian penerbitan serta kekurangan dan kelebihan teks
  tersebut).<br>
  <b>2.</b> Konteks.<br>
  <b>3.</b> Konteks.<br>
  <b>4.</b> Penjelasan atau isi dari karya tersebut.
<br>
  <b>5.</b> Evaluasi berupa penilaian karya.<br>
  <b>6.</b> Penulis mendeskripsikan pengarang dan karya - karya nya secara memerinci objek dengan melibatkan panca indra, sehingga pembaca dapat merasakannya juga.<br>
  <b>7.</b> Data dan fakta<br>
  <b>8.</b> Terlalu banyak redaksi yang menggunakan bahasa kiasan dan daftar glosarium yang
  terlalu banyak sehingga agak menyulitkan pembaca.<br>
  <b>9.</b> Kritik berasal dari bagian evaluasi/penilaian, kritik harus memiliki bahasa yang sopan dan tidak menyindir/meninggung pihak manapun
  <b>10.</b>setuju,karena tanggapan ditulis dengan bahasa yang sesuai dan dibuktikan dengan data dan fakta.
</p></div>
  <%- include("../../layout/footer.ejs"); %>
</body>

</html>