<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Tugas Prakarya Akbar Jeffry Afandi Halaman 16 -29 UKBM">
  <meta name="title" content="Tugas Prakarya">
  <meta name="theme-color" content="#8A974B8F" />
  <meta property="og:image" content="https://cdn.glitch.com/a120c3ad-6591-4522-9518-b38f36d08c28%2Fimages.png?v=1600512134795">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Tugas Prakarya</title>
</head>

<body>
  <h3 style="text-align: center;">Tugas Prakarya</h3>
  <h4 style="padding-left: 18px">Nama: Akbar Jeffry Afandi<br>Kelas: 9C</h4>
<h5>Tugas UKBM hal 16 - 29</h5>
<div style="text-align: left">
   <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 16 - 18</marquee>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Hasil Peternakan dan Perikanan</th>
      <th scope="col">Nama, Ciri dan Hasil Olahan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ayam Kampung</td>
      <td>Ayam Kampung biasanya diolah menjadi ayam panggang, dan diberi bumbu kecap.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ayam broiler</td>
      <td>Warna daging ayam broiler lebih cerah dan dagingnya lebih empuk serta kenyal saat dipegang.Kulit ayam broiler lebih mengkilap dan banyak lemak di lapisan bawah kulit terutama di daerah sekitar ekor.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Daging Sapi</td>
      <td>Daging sapi berwarna merah, serat jelas dan padat. Bagian sapi yang memiliki daging terbanyak adalah bagian paha depan dan paha belakang</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Kambing</td>
      <td>Kambing memiliki daging yang berbau agak amis, biasanya kambing diolah menjadi sate, katanya cara untuk menghilangkan bau amis dari kambing adalah dengan ditutupi daun pepaya selama ± 1 jam</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Kerbau</td>
      <td>Kerbau memiliki Daging berwarna lebih merah dari daging sapi, Serat otot agak kasar, dan Lemaknya berwarna putih</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Ikan Tenggiri</td>
      <td>Termasuk ikan perairan laut, tulang/duri ada di tengah dengan daging yang tebal dan lembut. Hasil olahan berupa siomay, kerupuk, bakso, pempek, dan sebagainya</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Ikan Bandeng</td>
      <td>Ikan bandeng memiliki tubuh memanjang agak gepeng, mata tertutup lapisan lemak, dan terdapat sisik tambahan yang besar pada sirip dada dan sirip perut. Olahan ikan bandeng adalah: dijadikan sup, digoreng,dan dibuat bakso</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Ikan Mujair</td>
      <td>Ikan mujair memiliki 15-17 duri (tajam) pada sisirp punggung dan 10-13 jari-jari (duri berujung lunak); dan sirip dubur (anal) dengan 3 duri dan 9-12 jari-jari.Dan biasanya digoreng dengan bumbu kuning agar lebih sedap</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Ikan Lele</td>
      <td>Lele biasanya hidup di rawa" yang kotor, lele memiliki tubuh yang licin dan rasa daging yang manis, biasanya lele diolah menjadi lalapan/dipenyet dengan sambel</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Ikan Gurame</td>
      <td>Ikan Gurame Memiliki Bentuk pipih dan lonjong dengan mulut kecil dan dapat dimoncongkan.Ikan ini diolah menjadi ikan goreng yang sedap</td>
    </tr>
  </tbody>
</table>
 <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 18 - 19 (Bahan pangan peternakan)</marquee>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Jenis Bahan</th>
      <th scope="col">Bentuk</th>
      <th scope="col">Warna</th>
      <th scope="col">Bau</th>
  </tr>
  </thead>
  <tr>
    <th scope="row">1</th>
    <td>Daging Ayam Kampung</td>
    <td>Oval</td>
    <td>Putih pucat</td>
    <td>Amis</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Daging Sapi</td>
    <td>Oval</td>
    <td>Merah</td>
    <td>Amis</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Daging bebek</td>
    <td>Oval</td>
    <td>Merah</td>
    <td>Amis</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Daging Kambing</td>
    <td>Oval</td>
    <td>Merah</td>
    <td>Amis</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Daging Kerbau</td>
    <td>Oval</td>
    <td>Merah</td>
    <td>Amis</td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>Daging Ayam Broiler</td>
    <td>Oval</td>
    <td>Putih pucat</td>
    <td>Amis</td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>Daging Domba</td>
    <td>Oval</td>
    <td>Merah</td>
    <td>Amis</td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>Daging Kelinci</td>
    <td>Oval</td>
    <td>Putih pucat</td>
    <td>Amis</td>
  </tr>
  <tr>
    <th scope="row">9</th>
    <td>Daging Kuda</td>
    <td>Oval</td>
    <td>Merah</td>
    <td>Amis</td>
  </tr>
  <tr>
    <th scope="row">10</th>
    <td>Daging Angsa</td>
    <td>Oval</td>
    <td>Merah</td>
    <td>Amis</td>
  </tr>
  </table>
  <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 19 - 20 (Bahan pangan perikanan)</marquee>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Jenis Bahan</th>
        <th scope="col">Bentuk</th>
        <th scope="col">Warna</th>
        <th scope="col">Bau</th>
      </tr>
    </thead>
    <tr>
      <th scope="row">1</th>
      <td>Daging Mujair</td>
      <td>Oval</td>
      <td>Putih pucat</td>
      <td>Amis</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Daging Lele</td>
      <td>Oval</td>
      <td>Putih</td>
      <td>Amis</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Daging Tuna</td>
      <td>Oval</td>
      <td>Merah</td>
      <td>Amis</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Daging Gurame</td>
      <td>Oval</td>
      <td>Putih</td>
      <td>Amis</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Daging Tuna</td>
      <td>Oval</td>
      <td>Merah</td>
      <td>Amis</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Daging Teri</td>
      <td>Oval</td>
      <td>Putih pucat</td>
      <td>Amis</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Daging Kakap</td>
      <td>Oval</td>
      <td>Putih</td>
      <td>Amis</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Daging Ikan Kembung</td>
      <td>Oval</td>
      <td>Putih</td>
      <td>Amis</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Daging Wader</td>
      <td>Oval</td>
      <td>Putih</td>
      <td>Amis</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Daging Bandeng</td>
      <td>Oval</td>
      <td>Kuning, orange, kehitaman</td>
      <td>Amis</td>
    </tr>
  </table>
    <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 20 - 21 (Bagian Tubuh sapi)</marquee>
    1. Neck<br>2. Blade<br>3. Rib<br>4. Sirloin<br>5. Fillet<br>6.Rump<br>7. Silverside<br>8. Knuckle<br>9. Leg<br>10. Flank<br>11. Jacobs Ladder<br>12. Shin<br>13. Head<br>14. Tail
    <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 21 - 23 (Diskusi Kelompok)</marquee>
    1. Daging merah mengandung Vitamin B12, Zinc, Zat besi, Vitamin B3, dan Vitamin B6. Vitamin tersebut bermanfaat untuk 
    </div>
<footer style="text-align: center">©2020 jeffryafandi</footer>
</body>

</html>