<!DOCTYPE html>
<html>

<head>
  <%- include("../../layout/header.ejs"); %>
  <meta name="description" content="Tugas Prakarya Akbar Jeffry Afandi Halaman 16 -29 UKBM">
  <meta name="title" content="Tugas Prakarya">
  <meta name="theme-color" content="#8A974B8F" />
  <title>Tugas Prakarya</title>
</head>

<body>
  <h3 style="text-align: center;">Tugas Prakarya</h3>
  <h4 style="padding-left: 18px">Nama: Akbar Jeffry Afandi<br>Kelas: 9C</h4>
  <h5>Tugas UKBM hal 16 - 29</h5>
  <div style="text-align: left">
    <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 16 - 18</marquee>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Hasil Peternakan dan Perikanan</th>
          <th scope="col">Nama, Ciri dan Hasil Olahan</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Ayam Kampung</td>
          <td>Ayam Kampung biasanya diolah menjadi ayam panggang, dan diberi bumbu kecap.</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Ayam broiler</td>
          <td>Warna daging ayam broiler lebih cerah dan dagingnya lebih empuk serta kenyal saat dipegang.Kulit ayam broiler lebih mengkilap dan banyak lemak di lapisan bawah kulit terutama di daerah sekitar ekor.</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Daging Sapi</td>
          <td>Daging sapi berwarna merah, serat jelas dan padat. Bagian sapi yang memiliki daging terbanyak adalah bagian paha depan dan paha belakang</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Kambing</td>
          <td>Kambing memiliki daging yang berbau agak amis, biasanya kambing diolah menjadi sate, katanya cara untuk menghilangkan bau amis dari kambing adalah dengan ditutupi daun pepaya selama ± 1 jam</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Kerbau</td>
          <td>Kerbau memiliki Daging berwarna lebih merah dari daging sapi, Serat otot agak kasar, dan Lemaknya berwarna putih</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Ikan Tenggiri</td>
          <td>Termasuk ikan perairan laut, tulang/duri ada di tengah dengan daging yang tebal dan lembut. Hasil olahan berupa siomay, kerupuk, bakso, pempek, dan sebagainya</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Ikan Bandeng</td>
          <td>Ikan bandeng memiliki tubuh memanjang agak gepeng, mata tertutup lapisan lemak, dan terdapat sisik tambahan yang besar pada sirip dada dan sirip perut. Olahan ikan bandeng adalah: dijadikan sup, digoreng,dan dibuat bakso</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Ikan Mujair</td>
          <td>Ikan mujair memiliki 15-17 duri (tajam) pada sisirp punggung dan 10-13 jari-jari (duri berujung lunak); dan sirip dubur (anal) dengan 3 duri dan 9-12 jari-jari.Dan biasanya digoreng dengan bumbu kuning agar lebih sedap</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Ikan Lele</td>
          <td>Lele biasanya hidup di rawa" yang kotor, lele memiliki tubuh yang licin dan rasa daging yang manis, biasanya lele diolah menjadi lalapan/dipenyet dengan sambel</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Ikan Gurame</td>
          <td>Ikan Gurame Memiliki Bentuk pipih dan lonjong dengan mulut kecil dan dapat dimoncongkan.Ikan ini diolah menjadi ikan goreng yang sedap</td>
        </tr>
      </tbody>
    </table>
    <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 18 - 19 (Bahan pangan peternakan)</marquee>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Jenis Bahan</th>
          <th scope="col">Bentuk</th>
          <th scope="col">Warna</th>
          <th scope="col">Bau</th>
        </tr>
      </thead>
      <tr>
        <th scope="row">1</th>
        <td>Daging Ayam Kampung</td>
        <td>Oval</td>
        <td>Putih pucat</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Daging Sapi</td>
        <td>Oval</td>
        <td>Merah</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Daging bebek</td>
        <td>Oval</td>
        <td>Merah</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Daging Kambing</td>
        <td>Oval</td>
        <td>Merah</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Daging Kerbau</td>
        <td>Oval</td>
        <td>Merah</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Daging Ayam Broiler</td>
        <td>Oval</td>
        <td>Putih pucat</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Daging Domba</td>
        <td>Oval</td>
        <td>Merah</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Daging Kelinci</td>
        <td>Oval</td>
        <td>Putih pucat</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Daging Kuda</td>
        <td>Oval</td>
        <td>Merah</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Daging Angsa</td>
        <td>Oval</td>
        <td>Merah</td>
        <td>Amis</td>
      </tr>
    </table>
    <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 19 - 20 (Bahan pangan perikanan)</marquee>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Jenis Bahan</th>
          <th scope="col">Bentuk</th>
          <th scope="col">Warna</th>
          <th scope="col">Bau</th>
        </tr>
      </thead>
      <tr>
        <th scope="row">1</th>
        <td>Daging Mujair</td>
        <td>Oval</td>
        <td>Putih pucat</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Daging Lele</td>
        <td>Oval</td>
        <td>Putih</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Daging Tuna</td>
        <td>Oval</td>
        <td>Merah</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Daging Gurame</td>
        <td>Oval</td>
        <td>Putih</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Daging Tuna</td>
        <td>Oval</td>
        <td>Merah</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Daging Teri</td>
        <td>Oval</td>
        <td>Putih pucat</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Daging Kakap</td>
        <td>Oval</td>
        <td>Putih</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Daging Ikan Kembung</td>
        <td>Oval</td>
        <td>Putih</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Daging Wader</td>
        <td>Oval</td>
        <td>Putih</td>
        <td>Amis</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Daging Bandeng</td>
        <td>Oval</td>
        <td>Kuning, orange, kehitaman</td>
        <td>Amis</td>
      </tr>
    </table>
    <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 20 - 21 (Bagian Tubuh sapi)</marquee>
    <div style="padding-left: 10px">
      1. Neck<br>2. Blade<br>3. Rib<br>4. Sirloin<br>5. Fillet<br>6.Rump<br>7. Silverside<br>8. Knuckle<br>9. Leg<br>10. Flank<br>11. Jacobs Ladder<br>12. Shin<br>13. Head<br>14. Tail</div>
    <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 21 - 23 (Diskusi Kelompok)</marquee>
    <div style="padding-left: 10px">1. Daging merah mengandung Vitamin B12, Zinc, Zat besi, Vitamin B3, dan Vitamin B6. Vitamin tersebut bermanfaat untuk Membantu fungsi jantung, Meningkatkan sistem imun, dan menjaga kesehatan kulit<br>2. Daging putih memiliki banyak vitamin seperti : protein, serat, kalori, sodium, magnesium, zat besi, mineral serta sejumlah vitamin yaitu vitamin C, D, E dan jenis vitamin B seperti B6 dan B12.Manfaat daging putih adalah untuk Meningkatkan kekebalan tubuh, Mencegah penyakit Anemia, Meningkatkan sistem metabolisme, dan Mencegah kanker<br>3.
      Telur mengandung vitamin A, asam folat, vitamin B5, vitamin B12, vitamin B2, fosfor, selenium, vitamin D, vitamin E, vitamin K, vitamin B6, dan kalsium. Manfaat telur untuk tubuh adalah Menjaga kesehatan mata & otak, dan dapat Menurunkan kadar trigliserida dalam darah<br>4. Susu memiliki banyak protein yang berguna untuk kesehatan tulang, dan untuk mengokohkan tulang<br>5. Ikan mengandung protein, vitamin, dan mineral yang dapat membantu menurunkan tekanan darah, menurunkan risiko penyakit jantung dan stroke.<br>6. Udang mengandung 101 kalori, 19 gram protein dan hanya 1,4 gram lemak total. Di dalam daging udang juga tersaji kandungan kalsium, potassium dan fosfor yang merupakan sumber vitamin A dan E baik untuk tubuh.<br>7. Rumput laut memiliki banyak kandungan vitamin K, Zat besi, dan Kalsium yang berguna untuk menjaga kesehatan tubuh.<br>8. Daging merah/ daging putih segar tidak berbau busuk, dan warnanya masih bagus. tidak banyak lendir, dan tidak dikerubungi lalat.<br>9. Ikan segar memiliki mata yang tidak berlendir, sisik yang cerah, dan insang berwarna merah cerah.<br>10. Telur dengan kualitas baik memiliki cangkang yang berwarna pekat dan cerah. Hal ini menandakan telur masih segar. tekstur yang kasar dan terdapat butiran-butiran putih. Telur yang memiliki kualitas baik tentunya tidak berbau busuk.</div>
    <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 24 - 25 (Diskusi 1)</marquee><div style="padding-left: 10px">
    <big>A.</big><br>1. Nama Produk jadi: Kerupuk ikan tenggiri<br>Alasan: Karena kerupuk ikan tenggiri rasanya enak dan digemari banyak orang, maupun dari kalangan anak" dan orang dewasa<br>2. Nama produk ½jadi: Kerupuk Aci/kering<br>Alasan: Kerupuk aci/ kerupuk yang belum digoreng memiliki keunggulan yaitu harga yang lebih murah, tidak cepat basi dan tidak makan banyak tempay.<br>3. Nama produk ½Jadi: Bubuk tongkol<br>
    Alasan: bubuk tongkol begitu praktis, karena suiran daging ikan yang banyak, bisa dijadikan tambahan dalam makanan seperti nasi goreng dan nasi yang hangat<br><big>B</big><br>1.Nama produk Jadi: Ayam geprek<br>Alasan: Ayam geprek adalah makanan yang popoler belakangan ini, karena kepopuleran nya itu, mungkin bisa untuk usaha makanan, hehe<br>2. Nama produk ½Jadi: Sosis<br>Alasan: Sosis jika dipanggang dan diberi bumbu, rasanya akan semakin enak, dan baunya juga menggiurkan. juga kandungan vitamin yang ada dalam sosis juga simbang, tapi tidak boleh mengkonsumsi sosis secara berlebih karena bisa menyebabkan penyakit berat.<br>3. Nama produk jadi: Kornet<br>Alasan: kornet sangat mudah didapatkan dan bisa disimpan lama di kulkas.</div> <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM Hal 29(
      Tabel Pemahaman Materi)</marquee>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Pernyataan</th>
          <th scope="col">Ya</th>
          <th scope="col">Tidak</th>
        </tr>
      </thead>
      <tr>
        <th scope="row">1</th>
        <td>Apakah Ananda dapat mencontohkan 5 - 10 Produk olahan hasil peternakan & perikanan!</td>
        <td>✓</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Apakah ananda dapat menjelaskan sifat/karakter dari masing - masing jenis bahan dasar olahan produk tersebut ? (mengacu pada jawaban no 1)</td>
        <td>✓</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Dapatkah ananda menjelaskan teknik pengolahan hasil peternakan dan perikanan baik olahan jadi maupun setengah jadi?</td>
        <td>✓</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Dapatkah ananda menjelaskan diantara bahan bahan tersebut? (mengacu pada no 1)</td>
        <td>✓</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Dapatkah ananda menyebutkan dan membedakan bumbu" / rempah untuk mengolah hasil peternakan dan perikanan</td>
        <td></td>
        <td>✓</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Dapatkah ananda menjelaskan prosedur membuat produk olahan hasil peternakan dan perikanan (mengacu pada no 1)</td>
        <td>✓</td>
        <td></td>
      </tr>
    </table>
  </div>
  <%- include("../../layout/footer.ejs"); %>
</body>

</html>