<!DOCTYPE html>
<html>

<head>
<%- include("../../layout/header.ejs"); %>
  <meta name="description" content="Tugas Quran Hadist LKS halaman 71 | no 1 - 4">
  <meta name="title" content="Tugas Quran Hadist">
  <meta name="theme-color" content="#8A974B8F" />
  <title>Tugas Quran Hadist</title>
</head>

<body style="background: #8A974B8F">
  <h3 style="text-align: center;">Tugas Quran Hadist</h3>
  <h4 style="padding-left: 18px">Nama: Akbar Jeffry Afandi<br>Kelas: 9C</h4>
  <h5>Tugas LKS Hal.71</h5>
  <div style="padding-left: 10px">
1. Jelaskan pengertian bacaan gharib dalam alquran baik secara bahasa maupun istilah!<br>Jawab: Gharib menurut bahasa artinya tersembunyi atau samar, sedangkan menurut istilah Ulama qurra', gharib artinya sesuatu yang perlu penjelasan khusus dikarenakan samarnya pembahasan atau karena peliknya permasalahan baik dari segi huruf, lafadz, arti maupun pemahaman yang terdapat dalam Al-Qur'an.<br><br>2. Jelaskan Pengertian bacaan Tas-Hil dan mengapa harus dibaca seperti itu? berikan alasan-alasannya!<br>
Jawab: Tashil berarti lunak; meringankan. Menurut istilah tashil membaca antara hamzah dan alif; hamzah pertama dibaca tahqiq (jelas) dan pendek, sedangkan hamzah kedua dibaca tashil<br><br>3. Sebutkan pembagian bacaan Mad dan Qashr! Berikan masing-masing 2 contoh dan cara membacanya!<br>Jawab: Menurut imam Asy-Syathibi, Mad adalah memanjangkan bunyi huruf atau huruf layyin, Sedangkan pengertian Qashar menurut arti bahasa adalah “tertahan”. <br>Bacaan mad dibagi menjadi 2 bagian yaitu yaitu Mad Asli (مَدْ اَصْلِى) dan Mad Far’i (مَدْ فَرْعِى)<br>Mad asli menurut bahasa adalah mad yang masih asli, yakni panjang bacaannya tetap satu alif (2 ketukan).<br>Mad far'i ialah mad yang panjangnya lebih dari pada mad tabi'i dengan adanya beberapa sebab, yaitu bila di hadapannya terdapat huruf hamzah yang berbaris hidup, atau huruf lainnya yang berbaris sukun (mati) atau huruf sesudahnya itu bertasydid.<br><br>4. Jelaskan Prngertian bacaan Isymam dan Ikhtias, berikan penjelasan bagaimana caranya agar kita dapat melafalkannya dengan benar?<br>
Jawab: Isymam artinya menggabungkan; memadukan; menyempurnakan. Menurut istilah isymam adalah mencampurkan dhummah pada sukun dengan memoncongkan bibir.<br>Cara membaca Ikhtias: membaca harakat dengan samar dan cepat sehingga suaranya tinggal 2/3 harakat
  </div>
  <footer style="text-align: center">©2020 jeffryafandi</footer>
</body>

</html>