<!DOCTYPE html>
<html>

<head>
  <%- include("../../layout/header.ejs"); %>
  <meta name="description" content="Tugas Bahasa Indonesia Akbar jeffry afandi halaman 88 - 89 ">
  <meta name="title" content="Tugas Bahasa Indonesia">
  <meta name="theme-color" content="#8A974B8F" />
  <meta property="og:url" content="https://jeffryafandi.tk/tugas/b-indo-88-89/">
  <title>Tugas B Indo</title>
</head>

<body style="background: #8A974B8F">
   <div class="rounded shadow-sm"  style="background: #8A974B8F">
       <h3 style="text-align: center;">Tugas Fiqih UKBM</h3>
       <h4 style="padding-left: 18px">Nama: Akbar Jeffry Afandi<br>Kelas: 9C</h4>
       <h5>Tugas Hal.29 - 32 (1-15)</h5>
   </div>
   <div style="margin: 10px">
     1.C  6.D 11.D<br>2.A 7.C 12.B<br>3.C 8.A 13.C<br>4.C 9.D 14.C<br>5.C 10.A 15.B
   </div>
</body>

</html>