<head>
  <%- include("../../layout/header.ejs") %>
  <meta name="description" content="Tugas B indo LKS hal 18.">
  <meta name="title" content="Tugas Bahasa Indonesia">
  <meta name="theme-color" content="#8A974B8F" />
  <meta property="og:url" content="https://jeffryafandi.tk/tugas/6">
  <title>Tugas Bahasa Indonesia</title>
</head>
   <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Lks B indo hal 18</marquee>
   Nama: Akbar Jeffry A | 9C
<div style="margin: 10px">
<br>
1. Teks tersebut mengandung informasi mengenai petunjuk & cara untuk menjernihkan air menggunakan botol bekas. Disajikan beberapa kelompok text berupa Alat & bahan, langkah-langkah, Data, dan kesimpulan.<br>
2. Proses penjernihan akan terganggu, dan kualitas air yang keluar akan berkurang.<br> 
3. Agar air hasil penjernihan bisa keluar lewat bagian bawah<br>
4. Data:<br>
Warna Air
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">Sebelum Penjernihan</th>
          <th scope="col">Setelah Penjernihan</th>
        </tr>
      </thead>
      <tr>
        <td>Keruh / Kotor</td>
        <td>Jernih/lebih bersih</td>
      </tr>
    </table>
    Bau Air
        <table class="table table-success table-striped">
          <thead>
            <tr>
              <th scope="col">Sebelum Penjernihan</th>
              <th scope="col">Setelah Penjernihan</th>
            </tr>
          </thead>
          <tr>
            <td>Amis/tidak wajar</td>
            <td>Netral, agak amis</td>
          </tr>
        </table>
     <br>
5. Kesimpulan: Alat pennernih air sederhana ternyata terkadang tidak bisa 100% menjernihkan air, terkadang meski air berwarna jernih setelah penyaringan, baunya tetap ada/kurang enak 
     </div>