  <head>
    <%- include("../../layout/header.ejs"); %>
    <meta name="description" content="Tugas IPS lks hal 62 & 66">
    <meta name="title" content="Tugas IPS ">
    <meta name="theme-color" content="#8A974B8F" />
    <title>Tugas IPS halaman 62 & 66</title>
  </head>
   <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Lks IPS hal 62 & 66</marquee>
   Nama:  Akbar Jeffry Afandi
   Kelas: 9C
   No:    02
   <div style="margin: 10px">
     Lks Hal 62
<table class="table table-dark table-hover">
    <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Sumber daya di daerah</th>
            <th scope="col">Ekonomi kreatif yang dapat di buat</th>
          </tr>
        </thead>
        <tr>
          <th scope="row">1</th>
          <td>Bambu</td>
          <td>Sangkar burung, gazebo/pondok</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Sumber Air</td>
          <td>Pemandian & Kolam ikan</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Lahan Kosong</td>
          <td>Untuk menanam buah spt Stroberi & Anggur</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Sungai Kecil</td>
          <td >Untuk mengairi kolam ikan Lele</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Hutan</td>
          <td>Dijadikan tempat wisata</td>
        </tr>
</table>
Lks Hal 66
<table class="table table-dark table-hover">
    <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Pusat perekonomian</th>
            <th scope="col">Hasil</th>
            <th scope="col">Kontribusi Terhadap Indonesia</th>
          </tr>
        </thead>
        <tr>
          <th scope="row">1</th>
          <td>Pulau komodo</td>
          <td>Tempat wisata penangkaran hewan komodo</td>
          <td>Mendatangkan wisatawan lokal maupun asing sehingga mendatangkan devisa</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Laut Indonesia</td>
          <td>Ikan & Makanan laut</td>
          <td>Menjadi mata pencaharian penduduk pesisir pantai</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Pulau Bali</td>
          <td>Tempat wisata yang indah & budaya yang unik</td>
          <td>Mendatangkan wisatawan lokal maupun asing sehingga mendatangkan devisa</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Perkebunan Kelapa Sawit</td>
          <td>Tempat edukasi pengolahan minyak kelapa sawit</td>
          <td>Mendatangkan wisatawan lokal maupun asing sehingga mendatangkan devisa</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Candi - Candi</td>
          <td>Tempat wisata & Tampilan Budaya</td>
          <td>Mendatangkan wisatawan lokal maupun asing sehingga mendatangkan devisa</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Kepulauan Seribu</td>
          <td>Tempat wisata bawah air</td>
          <td>Mendatangkan wisatawan lokal maupun asing sehingga mendatangkan devisa</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Pulau Kalimantan & papua</td>
          <td>Tempat wisata & edukasi kehidupan pribumi</td>
          <td>Mendatangkan wisatawan lokal maupun asing sehingga mendatangkan devisa</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Pasar Tradisional</td>
          <td>Tempat edukasi jual beli</td>
          <td>Mendatangkan warga lokal maupun wisatawan asing sehingga mendatangkan devisa & membantu perekonomian warga</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Jakarta</td>
          <td>Tempat wisata ancol & Monas</td>
          <td>Mendatangkan wisatawan lokal maupun asing sehingga mendatangkan devisa</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Persawahan</td>
          <td>Tempat edukasi cocok tanam</td>
          <td>Mendatangkan wisatawan lokal maupun asing sehingga mendatangkan devisa</td>
        </tr>
</table>
</div>