  <head>
    <%- include("../../layout/header.ejs") %>
    <meta name="description" content="Tugas Matematika Modul Halaman 37">
    <meta name="title" content="Tugas Matematika ">
    <meta name="theme-color" content="#000" />
    <title>Tugas MTK hal 37 Modul</title>
  </head>
  <h3>Nama: Akbar Jeffry Afandi<br>Kelas/No: 9C/02<br>Tugas Mtk modul hal 37</h3>
  <div style="margin: 10px">
  1. C <br>
  2. B <br>
  3. D <span style="background: #37CC4F57">[2x = 2x -9<br>9(a) = 2a<sup>2</sup> - 9 = -1<br>2a<sup>2</sup> -9 +1 = 0<br>2a<sup>2</sup> -8 = 0<br>a<sup>2</sup> - 4 = 0<br>(a+2)(a-2) = 0<br>a+2 = 0 | a-2 = 0<br>a = -2 | a = 2]<br></span>
  4. A<br>
  5. C <span style="background: #37CC4F57">[(-x + 2)(-x -5) = 0<br>x2 + 3x - 10 = 0]</span><br>
  6. C<br>
  7. B<br>
  8. C<br>
  9. B <span style="background: #37CC4F57">[x = 0 (0,-1) dan (0,3)</span><br>
  10. D</div>