  <head>
    <%- include("../../layout/header.ejs"); %>
    <meta name="description" content="Tugas Bahasa Jawa (Yang belum dikumpulkan)">
    <meta name="title" content="Tugas Bahasa jawa">
    <meta name="theme-color" content="#000" />
    <title>Tugas MTK hal 37 Modul</title>
  </head>
  <h3>Nama: Akbar Jeffry Afandi<br>Kelas/No: 9C/02<br>Tugas Mtk modul hal 37</h3>
  <div style="margin: 10px">
   <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">UKBM halaman 16</marquee>
1. Prelog Dialog Epilog <br>
2.Nemtokake tokoh, wataipun tokoh, nemtoake latar, Sudut Pandang<br>
3. 2, Drama tradisional lan drama modern<br>
4. Tema<br>5. Amanat
<br>6. dipahami isine terus ditulis maneh
<br>7. maca drama iku bola bali lan dipahami isine, terus ditulis maneh.<br>8. dispali Teks Sing kate disebutno lan paragane.<br>9.
Sutradara<br>10. Paraga figuran<br>11. Monolog<br>12. Tema<br>13. Latar, sudut pandang<br>14. Improvisasi<br>15. Teater<br>16. Orientasi<br>17. Konflik<br>18. Resolusi<br>19. Ngerteni isine, lan aja lali mimik, intonas, lan gerak tubuh<br>20. Ludruk<br>21. —<br>22. Ketoprak<br>23. Antagonis<br>24. Dalang iso ngatur intensitas swara lan kawedal<br>25. Percaya Diri<br>26. Konflik<br>27. Pemunculan Masalah<br>28. 
Latar<br>29. Amanat<br>30. Konflik<br>31. Percakapan/kelakuan<br>32. Tari Remong<br>33. Kesenian Campursari<br>34. Kuda Lumping<br>35. Basa Jawa
<marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Uji Kompetensi Wulangan 1</marquee>

<img src="https://cdn.discordapp.com/attachments/678482253268910142/767313389264437279/IMG_20201018_160546_HDR-picsay.jpg" style="width: 100%" height="auto" class="rounded float-left" alt="...">
3. a) Supados mboten Sayah monggo Sami pinarak rumiyin sinambi Dhahar<br>
b) Budhe Rahmi nembe maringi unjukan usada datheng simbah amargi Simbah gerah.
<br><br>
4. a). Tanduk i Dodi makani pitik <br>
       Tanggap: Pitik dipakani Dodi<br>

b). Tanduk : Ibuk nimba banyu ing Sumur<br>
     Tanggap: Banyu ditimba lbuk ing Sumur. <br>
     C) Tanduk: Bapak ngenteni adik ing Sekolah<br>
Tanggap: adik dienten bapat ing Sekolah

</div>
   