  <head>
    <%- include("../../layout/header.ejs") %>
    <title>Telegra.ph</title>
    </head>
    <body>
  <div class="header">
  		<h1>Title</h1>
  		<span class="author">Author &bull; April 22, 2018</span>
  	</div>
  	<div class="body">
          <p>Paragraph. <b>bold</b> <i>italic</i> <u>underline</u> <a href="#">link</a></p>
  		<pre>Code</pre>
  		<li>li</li>
  	</div>
</body>