<!-- Template made by @TRIGGEREDNICK, GitHub -->

<!DOCTYPE html>
<html>
<head>
   <!-- <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="viewport" content="width=device-width, user-scalable=no">-->
	      <%- include("../../layout/header.ejs") %>
	<title>Telegra.ph</title>
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
	<link rel="stylesheet" type="text/css" href="css/font.min.css">
</head>
<body class="dark">
	<div class="header">
		<h1>Title</h1>
		<span class="author">Author &bull; April 22, 2018</span>
	</div>
	<div class="body">
        <p>Paragraph. <b>bold</b> <i>italic</i> <u>underline</u> <a href="#">link</a></p>
		<pre>Code</pre>
		<li>li</li>
	</div>
</body>
</html>