<!DOCTYPE html>
<html>

<head>
   <%- include("../layout/header.ejs"); %>
    <meta name="description" content="Page tidak ditemukan...">
  <meta name="title" content="404 Ga ketemu">
  <meta name="theme-color" content="#000" />
    <title>404 Error</title>
</head>

<body style="background: #000">
<h5 style="text-align: center;"><span style="color: #fff">404 Error !?</span><br><a href="/">Kembali Ke halaman awal</a></h5>
</body>

</html>