<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Page tidak ditemukan...">
  <meta name="title" content="404 Ga ketemu">
  <meta name="theme-color" content="#000" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>404 Error</title>
</head>

<body style="background: #000">
<h5 style="text-align: center;"><span style="color: #fff">404 Error !?</span><br><a href="/">Kembali Ke halaman awal</a></h5>
<footer style="text-align: center;color: #fff">©2020 jeffryafandi</footer>
</body>

</html>