<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta property='og:image' content="https://cdn.discordapp.com/attachments/732008935791263914/757795622337118318/Screenshot_2020-09-22-09-45-53-049_com.android.chrome-picsay.png">
  <meta property='og:description' content="Semua bisa dilakukan dengan usaha & doa">
  <meta property='og:title' content="Akbar Jeffry Afandi">
  <meta name="theme-color" content="#FF5572" />
  <meta property="og:site_name" content="Jeffryafandi">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/732008935791263914/757795622337118318/Screenshot_2020-09-22-09-45-53-049_com.android.chrome-picsay.png" type="image/x-icon" />
  <title>jeffryafandi | Home</title>
  <script>
  function url(){
  const key = document.getElementById("ser");
  window.location.href = '#' +key.value;
  }
  </script>
  <style>
    /* Text between <hr> tag */
    
    hr.gud {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    }
    hr.gud:after {
    content: "jeffryafandi.tk";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    }
  </style>
</head>

<body style="padding-top: 50px;background: #FF5572">
  <nav id="nav" style="background: #FF5572" class="navbar navbar-expand-md navbar-dark fixed-top shadow-lg rounded">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Jeffryafandi | Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://otakudesu.tv">Anime :u</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://wa.me/message/SWQLMQXYL7ONM1">Whatsapp</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              Lainya
            </a>
            <ul style="background: #FF5572;padding-left: 16px;" class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a href="#" class="nav-link" style="text-decoration: none;">Coming Soon, hehe</a></li>
            </ul>
          </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <form class="d-flex">
                <input id="ser" list="InputData" class="form-control mr-2" type="search" value="" placeholder="Cari dengan ID" aria-label="Search" required="">
                <button onclick="url()" class="btn btn-outline-info" type="submit">Cari</button>
                <datalist id="InputData">
                  <option value="1">
                  <option value="2">
                  <option value="3">
                </datalist>
              </form>
      </div>
    </div>
  </nav>
  <div>
     <div class="shadow-lg p-3 mb-5 bg-white rounded" style="background-color: #e3f2fd;">
       <marquee class="rounded shadow-sm" style="background: #FF5572;color: #fff">Selamat Datang di website jeffryafandi</marquee>
       <h1>
         <center>Selamat Datang</center>
       </h1>
       <p>Anda bisa melihat" isi website di navbar, atau scroll ke bawah untuk melihat - lihat tugas yang ada. Next update: perbaikan view, menambah database dan menggabungkan ddngan telegram bot untuk web control</p>
     </div>
     <div id="4" style="margin: 10px"></div>
     <div style="margin: 18px">
     <!--^^^^Ganti ke id terakhir^^^^^-->
<div id="3" class="card text-center">
             <div class="card-header">
               Quran Hadist<sup><span class="badge bg-secondary">SMP</span><span class="badge bg-info">#4</span></sup>
             </div>
             <div class="card-body">
               <h5 class="card-title">LKS Hal 71</h5>
               <p class="card-text">LKS halaman 71| Mengerjakan Nomer 1 sampai nomer 4</p>
               <a href="tugas/4" class="btn btn-primary">Lihat Tugas</a>
             </div>
             <div class="card-footer text-muted">
               14 Okt 2020 | 19.25
             </div>
           </div>
<!--********************************************************-->
<hr class="gud">
     <div id="2" class="card text-center">
             <div class="card-header">
               Prakarya<sup><span class="badge bg-secondary">SMP</span><span class="badge bg-info">#3</span></sup>
             </div>
             <div class="card-body">
               <h5 class="card-title">UKBM Hal 16 - 29</h5>
               <p class="card-text">UKBM halaman 16 - 29 | Mengerjakan bab olahan bahan pangan</p>
               <a href="tugas/3" class="btn btn-primary">Lihat Tugas</a>
             </div>
             <div class="card-footer text-muted">
               13 Okt 2020 | 17.25
             </div>
           </div>
<!--********************************************************-->
     <hr class="gud">
      <div id="1" class="card text-center">
        <div class="card-header">
          Bahasa Indonesia<sup><span class="badge bg-secondary">SMP</span><span class="badge bg-info">#2</span></sup>
        </div>
        <div class="card-body">
          <h5 class="card-title">Lks Hal 98</h5>
          <p class="card-text">Lks halaman 98 | Menjawab 10 soal</p>
          <a href="tugas/2" class="btn btn-primary">Lihat Tugas</a>
        </div>
        <div class="card-footer text-muted">
          13 Okt 2020 | 18.20
        </div>
      </div>
<!--********************************************************-->
    <hr class="gud">
     <div id="0" class="card text-center">
       <div class="card-header">
         Bahasa Indonesia<sup><span class="badge bg-secondary">SMP</span><span class="badge bg-info">#1</span></sup>
       </div>
       <div class="card-body">
         <h5 class="card-title">Lks Hal 88 & 89</h5>
         <p class="card-text">Lks halaman 88 - 89 | Novel dan mendeskripsikan sebuah novel</p>
         <a href="tugas/1" class="btn btn-primary">Lihat Tugas</a>
       </div>
       <div class="card-footer text-muted">
         13 Okt 2020 | 17.44
       </div>
     </div>
     </div>
  </div><br>
  <footer class="rounded shadow-sm" style="background: #fff;text-align: center;">©2020 jeffryafandi</footer>
  <!-- Optional JavaScript -->
  <!-- Popper.js first, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>

</html>